.clear{clear: both;}

.marB_20{
	margin-bottom: 20px; 
}
.marL_10{
	margin-left: 10px;
}
.min_H_400{
	min-height: 400px;
}
.width300{
	width: 300px;
}
.width400{
	width: 400px;
}
.width450{
	width: 450px;
}
.width500{
	width: 500px;
}